[submodule "third_party/OpenNMTTokenizer"]
	path = third_party/OpenNMTTokenizer
	url = https://github.com/OpenNMT/Tokenizer.git
[submodule "third_party/mosesdecoder"]
	path = third_party/mosesdecoder
	url = https://github.com/moses-smt/mosesdecoder.git